.search-wrap{
    overflow: hidden;
}
.logo{
    padding-top: 5px;
    float: left;
    margin-left: -57px;
}
.search-box{
    float: left;
    margin: 33px 0 0 70px;
}
.search{
    width: 625px;
    height: 36px;
    border: 2px solid #ff0036
    
}
.search-text{
    width: 491px;
    height: 36px;
    border: none;
    outline: none;
    float: left;
}
.search-button{
    width: 134px;
    height: 36px;
    border: none;
    background: #ff0036;
    float: left;
    font-size: 19px;
    color: white;
    /* font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53"; */
    font-weight: bold;
    letter-spacing: 7px;
}
.under-search li{
    float: left;
    padding: 0 12px;
    position: relative;
}
.under-search li a{
    color: #999;
    font-size: 14px;
}
.under-search{
    margin-top: 5px;
    margin-left: -12px;
}
.under-search .hot a{
    color: #ff0036;
}
.under-search li span{
    width: 1px;
    height: 14px;
    background: #999;
    position: absolute;
    right: 0px;
    top: 4px;
}
.menu-box{
    height: 35px;
    border-bottom: #ff0036 2px solid;
    margin-left: 325px;
    margin-right: 325px;
}
.menu-top li{
    float: left;
}
.menu-top img{
    width: 100px;
    /* height: 30px; */
}
.menu-top a:hover{
    color: #ff0036;
}
.menu-top a{
    padding: 0 8px;
    font-size: 16px;
    color: #333;
    position: relative;
    height: 30px;
    font-weight: 500;
}
.menu-box .menu-top {
    height: 36px;
    line-height: 36px;
    width: 100%;
    bottom: 0;
}
.menu-top{
    padding-left: 200px;   
}
.content{
    height: 4000px;
    background: url(../image/bg.png) center -207px no-repeat ;
    background-color: #f5f5f5;
    position: relative;
    
}
.slide-content{
    height: 500px;
    width: 1230px;
    margin: 0 auto;
    background: aqua;
}
.category{
    width: 200px;
    height: 500px;
    position: absolute;
    background: rgba(0,0,0,0.55);
    z-index:2;
}
.cate-title{
    height: 36px;
    color: white;
    background: #ff0036;
    line-height: 35px;
    font-size: 18px;
    position: relative;
    top: -36px;
    padding-left: 25px;
    font-weight: bold;
}
.main-cate-box{
    /* background: rgba(0,0,0,0.55); */
    position: relative;
    top: -36px;
}
.category .main-cate{
    height: 31px;
    line-height: 31px;
    padding: 0 8px;
}
.category .main-cate{
    height: 31px;
    line-height: 31px;
    padding: 0 8px;
}
.main-cate>a{
    color: #fff;
    font-size: 14px;
}
.category .main-cate:hover{
    background: #fff;
    /* color: dodgerblue; */
}
.category .main-cate:nth-child(1):hover>a{
    color:#e54077;
}
.category .main-cate:nth-child(2):hover>a{
    color: dodgerblue;
}
.category .main-cate:nth-child(3):hover>a{
    color: orchid;
}
.category .main-cate:nth-child(4):hover>a{
    color:#e54077;
}
.category .main-cate:nth-child(5):hover>a{
    color: dodgerblue;
}
.category .main-cate:nth-child(6):hover>a{
    color: orchid;
}
.category .main-cate:nth-child(7):hover>a{
    color:#e54077;
}
.category .main-cate:nth-child(8):hover>a{
    color:orange;
}
.category .main-cate:nth-child(9):hover>a{
    color:orange;
}
.category .main-cate:nth-child(10):hover>a{
    color: dodgerblue;
}
.category .main-cate:nth-child(11):hover>a{
    color:#e54077;
}
.category .main-cate:nth-child(12):hover>a{
    color: dodgerblue;
}
.category .main-cate:nth-child(13):hover>a{
    color:orange;
}
.category .main-cate:nth-child(14):hover>a{
    color: aqua;
}
.category .main-cate:nth-child(15):hover>a{
    color:#e54077;
}
.category .main-cate:nth-child(16):hover>a{
    color: aqua;
}
.cate-sublist{
    width: 852px;
    height: 500px;
    background: white;
    position: absolute;
    left: 200px;
    top: 0px;
    display: none;
    /* float: left; */
}
.category .main-cate:hover .cate-sublist{
    display: block;
}
.hot-word-con{
    float: left;
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    color: #999;
    font-size: 12px;
}
.sub-logo-con{
    float: left;
    background-color: #FAFAFA;
    width: 189px;
    padding: 10px;
    height: 480px;
}
.hot-word-line{
    overflow: hidden;
}
.icon-dayuhao{
    color: #333;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: -15px;

}
.line-title{
    width: 60px;
    color: #333;
    margin-right: 30px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
    float: left;
}
.title-text{
    position: relative;
}
.hot-word{
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    float: left;
    margin-left: 13px;
    font-weight: normal;
}
.line-con{
    float: left;
    width: 493px;
}

.line-con .high-light{
    color: #e54077;
}
.sperate{
    margin-bottom: 10.5px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #eee;
    border-bottom-color: rgba(0,0,0,.1);
    height: 10.5px;
    clear: both;
}
#slide-img-box img{
    display: none;
}
    
#slide-img-box .slide-li{
    width: 1230px;
    display: block;
    height: 500px;

}
.slide-box{
    position: relative;
    height: 500px;
}
.slide-box a{
    position: absolute;
    left:0px;
    top:0px;
}
.slide-btn-box{
    position: absolute;
    bottom:50px;
    left:50%;
    transform: translateX(-50%);
    /* display: inline-block;
    opacity: .3;
    margin-left: 5px;
    cursor: pointer;     */
}
.slide-btn-box li{
    float: left;
    margin-left: 5px;
    width: 25px;
    opacity: 0.3;
    cursor: pointer; 
    display: block;
    overflow: hidden;
    height: 5px;
    background: #666;
}
.sub-logo {
    float: left;
    width: 73px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 37px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: #fff;
}
.sub-logo img {
    width: 73px;
    height: 36.5px;
    margin: 0 auto;
}
.sub-logo-bottom {
    float: left;
    width: 189px;
    height: 97px;
    padding-top: 10px;
}
.sub-logo-bottom img {
    width: 189px;
    height: 87px;
    margin: 0 auto;
}
/* 品牌闪购 */
.brand-sale{
    height: 370px;
    margin-top: 30px;
}
.brand-list{
    width: 234px;
    background: #ffffff;
    float: left;
}
.brand-list-img img{
    width: 234px;
    height: 316px;
    display: block;
}
.brand-list-title{
    padding-left: 10px;
    height: 54px;
    line-height: 54px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.brand-title-cn{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-right: 4px;
}
.brand-title-en{
    font-size: 13px;
    color: #333;
    font-weight: 700;
}
.brand-more{
    float: right;
    height: 18px;
    margin-top: 5px;
    margin-right: 15px;
}
.brand-more img{
    width: 18px;
    height: 18px;
}
.brand-list-2{
    width: 485px;
    margin-left: 12px;
}
.brand-list-2 .brand-list-img img{
    width: 485px;
}
.brand-list-img img:hover{
    opacity: 0.7;
}
.more{
    line-height: normal;
    vertical-align: 3px;
    font-size: 16px;
}
/* brand logo */
.brand-logo{
    margin-top: 15px;
    overflow: hidden;
}
.brand-logo li{
    width: 122px;
    height: 108px;
    background: #fff;
    overflow: hidden;
    position: relative;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
}
.brand-logo li img{
    width: 82%;
    height: 50px;
    display: block;
    margin: 30px auto;
}
.brand-logo-mask{
    position: absolute;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    background:rgba(0,0,0,0.8);
    /* width:100%;
    height: 100%; */
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease ;
}
.coupon{
    color: #fff;
    text-align: center;
    margin-top:38px;
}
.enter{
    display: inline-block;
    width: 63px;
    height: 18px;
    line-height: 18px;
    background: #ff0036;
    color: #fff;
    text-align: center;
    border-radius:9px;
    margin-top:5px;
}
.brand-logo li:hover .brand-logo-mask{
    opacity: 1;
}
.new-floor-con {
    margin: 20px auto 0;
    width: 1230px;
    padding-right: 30px;
    
}
.new-floor-con .floor-line-con {
    margin-top: 20px;
    width: 100%;
    height: 665px;
    position: relative;
    
}
.new-floor-con .floor-line-con .floor-name img {
    vertical-align: middle;
    width: 214px;
    height: 25px;
    margin-left: 15px;
}
.new-floor-con .floor-line-con .floor-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    height: 28px;
}
.new-floor-con .floor-line-con .hot-word-con2 {
 float: right;
 margin-right: -18px;
}
.new-floor-con .floor-line-con .hot-word-con2 a:hover {
    /* text-decoration: underline; */
    border-bottom: 1px solid #000;
}
.new-floor-con .floor-line-con .hot-word2 {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: none;

    color: #000;
}
.floor-body {
    height: 618px;
    margin-top: 10px;
    clear: both;
}
.body-bigbanner {
    float: left;
    width: 235px;
    height: 618px;
    position: relative;
}
.body-bigbanner img {
    width: 235px;
    height: 618px;
}
.banner-detail {
    width: 218px;
    height: 64px;
    float: left;
    position: absolute;
    top: 430px;
    left: 0px;
}
.left-title-wrap {
    width: 70px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;/*此元素会作为一个表格单元格显示（类似 <td> 和 <th>）*/
    background: rgba(0,0,0,.9);
    
}
.left-title-wrap span {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    width: 36px;
    overflow: hidden;
    color: #FFF;
    font-size: 18px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.right-title-wrap {
    width: 128px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;/*此元素会作为一个表格单元格显示（类似 <td> 和 <th>）*/
    background: rgba(0,0,0,.6);
}
.right-title-wrap span {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    width: 114px;
    overflow: hidden;
    color: #FFF;
    font-size: 18px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.detail-wrap {
    width: 235px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 4%,rgba(0,0,0,.36) 100%);
}
.detail-wrap img {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
}
.body-bigbanner:hover img {
    opacity: .7;
}
.floor-tab-item{
    width: 462px;
    height: 282px;
    margin: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .09);
}
#floor-tab-head ul{
    overflow: hidden;
}
#floor-tab-head li{
    float: left;
    width: 191px;
    height: 57px;
    padding: 0 20px;
    background: #f1f1f1;
    text-align: center;
    line-height: 57px;
    color: #000;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    font-size: 18px;
    cursor: pointer;
}
#floor-tab-head li.selected{
    margin: 0;
    background-color: #00b262;
    color: #FFF;
}
#floor-tab-body>ul{
    width: 462px;
    height: 225px;
    background: #ffffff;
    display: none;
}
#floor-tab-body ul.active{
    display: block;
}
#floor-tab-body a{
    height: 225px;
    width: 462px;
    display: block;
}
#floor-tab-body a:hover img{
    opacity: .7;
}
#right-detail{
    position: absolute;
    top: 86px;
    width: 291px;
    height: 87px;
    background: url(../image/point1.png) 0 center no-repeat;
    background-color: rgba(0, 0, 0, 0);
    z-index: 99;
}
.floor-tab-detail{
    position: relative;
}
.floor-tab-detail>img{
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    width: 200px;
    height: 200px;
}
#right-detail>.title-wrap{
    margin-left: 26px;
    margin-top: 8px;
    vertical-align: middle;
}
.title-wrap{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00b262;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.title-wrap span{
    margin-left: 8px;
}
.content-wrap span{
    margin-left: 26px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    color: #000;
}
.floor-tabs {
    width: 484px;
    height: 301px;
    margin: 0 0 15px 13px;
    background: #ffffff;
    float: left;
}
.floor-item {
    display: block;
    width: 235px;
    height: 301px;
    margin: 0 0 15px 13px;
    float: left;
    position: relative;
}
.grid {
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
    background: #ffffff;
}
.grid-img {
    width: 185px;
    height: 185px;
    margin: 0 auto;
    margin-top: 20px;
}
.grid-img img {
    width: 185px;
    height: 185px;
}
.grid-detail {
    width: 135px;
    height: 40px;
    line-height: 20px;
    margin: 8px auto;
    font-size: 14px;
    color: #333;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    overflow: hidden;
    text-align: center;
}
.grid-price {
    width: 234px;
    height: 18px;
    text-align: center;
    font-size: 18px;
    color: #FF0036;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.floor-item:hover {
    cursor: pointer;
}
.floor-item:hover img{
    opacity: .7;
}
.grid:hover {
    border: 1px solid #ff0036;
}
.content-end{
    background: url(../image/end.png) no-repeat;
    width: 80px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    left: 930px;
}